.main-button {
  padding: 10 20px;
  border-radius: 10px;
  line-height: 46px;
  background-color: $bubble;
  color: white;
  font-size: 17px;
  border: 2px solid $bubble;
  &:hover {
  color: white;
  background: $pink;
  border-color: $pink;
  }
  &:active {
  text-decoration: none;
  border: none;
  outline: none;
  }
}

.big-main-button {
  margin-left: 10px;
  padding: 10px 20px;
  border-radius: 8px;
  line-height: 32px;
  background-color: #FFC4D1;
  color: white;
  font-size: 17px;
  border: 2px solid #FFC4D1;
  &:hover {
  color: white;
  background: $bubble;
  border-color: $bubble;
  }
}

.main-button-small {
  padding: 0 20px;
  border-radius: 10px;
  line-height: 46px;
  background-color: $bubble;
  color: white;
  font-size: 17px;
  border: 2px solid $bubble;
  &:hover {
  color: white;
  background: $pink;
  border-color: $pink;
  }
}

.btn-input {
  width: 130px;
  height: 50px;
  font-size: 18px;
}
