<!-- source/girls/show.html.erb -->

<!-- Read from data.girls with owner's name as key -->
<% girl = data.girls[owner] %>

<div class="banner-small" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('background.jpg');">
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="header-girl-owner">
        <%= image_tag girl.owner_picture, class: "avatar-extra-large" %>
        <p><%= girl.owner_name %></p>
      </div>
      <div class="header-girl-name">
        <h1><%= girl.description %></h1>
        <p><%= girl.city %></p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
    <div class="col-xs-6">
    <form class="form-inline">
      <div class="form-group">
        <input type="text" class="form-control" id="exampleInputName2" placeholder="check-in">
      </div>
      <div class="form-group">
        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="check-incheck-out">
      </div>
       </div>
    </form>

    </div>
  </div>
</div>



<!-- Inject girl data in template -->





