/* Footer design */
#footer {
  background: #6B717E;
  padding: 10px 0;
  color: white;
  display: flex;
  justify-content: space-around;
  a {
    color: white;
    font-size: 30px;
    letter-spacing: 20px;
    transition: color 0.5s ease;
  }
  p {
    margin: 15px 0px 0px;
  }
  &:hover {
    color: $blush;
    transition: color 0.5s ease;
  }
}

.fa:hover {
  color: $blush;
  transition: color 0.5s ease;
}

.list-inline {
  margin-top: 8px;
}
