/* Footer design */
#footer {
  background: $gray-dark;
  padding: 40px 0;
  color: $grey;
  display: flex;
  justify-content: space-around;
  a {
  color: $grey;
  font-size: 30px;
  letter-spacing: 20px;
  transition: color 0.5s ease;
    &:hover {
    color: $yellow;
    transition: color 0.5s ease;
    }
  }
  p {
  margin: 10px 0px 10px;
  }
}
