/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-text {
  background: #4a4a4a;
}
.bg-email {
  background: #aeaeae;
}
.bg-twitter {
  background: #00a3e1;
}
.bg-facebook {
  background: #3b5998;
}


// Wrapper

.wrapper-grey {
  background: $gray-lighter;
}

// Inputs

.input {
  width: 260px;
  height: 50px;
  border-radius: 8px;
  font-size: 18px;
}

.btn-input {
  width: 130px;
  height: 50px;
  font-size: 18px;
}
