/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Amatica+SC|Raleway:300,400,700");
$base-font: "Raleway", "sans-serif";
$header-font: 'Amatica SC', 'cursive';

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #D23333;

$pink: #EFAAC4;
$bubble: #FFC4D1;
$blush: #FFE8E1;
$blue: #469AE0;
$yellow: #FDB631;
$red: #DA552F;
$orange: #DA552F;
$green: #32B796;
$light-grey: #D4DCCD;
$strong-grey: #6B717E;


// Gray scale
$gray-darker:  lighten(#000, 13.5%); // #222
$gray-dark:    lighten(#000, 20%);   // #333
$gray:         lighten(#000, 33.5%); // #555
$gray-light:   lighten(#000, 46.7%); // #777
$gray-lighter: lighten(#000, 93.5%); // #eee
$grey: #CCCCCC;
$white-grey: #ECECEC;
