<div id="footer">
  <ul class="list-inline text">
    <li>
      <a href="https://www.instagram.com/amelieillouz">
        <i class="fa fa-instagram"></i>
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/amelie.illouz?fref=ts">
        <i class="fa fa-facebook"></i>
      </a>
    </li>
  </ul>
  <p>All rigths reserved ©LucMonteil</p>
</div>
