<div class="navbar-wagon">
  <!-- Logo -->
  <% link_to "/", class: "navbar-wagon-brand" do %>
    <%= image_tag "make-up-logo.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Title -->
    <div>
      <h1>Amelook</h1>
    </div>

    <!-- Text link -->
    <%= link_to "Tarifs", "tarifs.html", class: "navbar-wagon-item navbar-wagon-link" %>

    <!-- Text link -->
    <%= link_to "Qui suis-je ?", "team.html", class: "navbar-wagon-item navbar-wagon-link" %>


    <!-- Button (call-to-action) -->
    <a href="mailto:amelie.illouz@gmail.com?subject=Prise%20de%20rendez-vous%20:%20I%20like%20what%20you%20do" class="navbar-wagon-item navbar-wagon-button btn">Prendre rdv</a>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Tarifs</a></li>
        <li><a href="#">Qui suis-je</a></li>
        <li><a href="#">Prendre rdv</a></li>
      </ul>
    </div>
  </div>
</div>

