<div class="wrapper-pink">
  <div class="container text-center little-padded">
    <div class="row">
      <div class="col-xs-12">
        <h1>Pour le Plus Beau Jour de votre Vie, je vous propose de vous accompagner dans les meilleures conditions</h1>
      </div>
      <div class="col-xs-12 flex little-padded">
        <div class="flex-item">
          <h2> 1- Maquillage OR :</h2><br>
          <p>Maquillage Mariée: 110€ (sans essai)<br>
          Temps du maquillage le jour J : 1 heure
          </p>
        </div>
        <div class="flex-item">
          <%= image_tag "gold.png", class: "price-img"%>
        </div>
      </div>
      <div class="col-xs-12 flex little-padded">
        <div class="flex-item">
          <h2> 2- Maquillage PERLE:</h2><br>
          <p>Maquillage Mariée avec essai :200€<br>
          Durée : 1h30 environ le jour de l'essai<br>
          Temps du maquillage le jour J : 1 heure
          </p>
        </div>
        <div class="flex-item">
          <%= image_tag "pearl.png", class: "price-img"%>
        </div>
      </div>
      <div class="col-xs-12 flex little-padded">
        <div class="flex-item">
          <h2> 3- Maquillage DIAMAND :</h2><br>
          <p>Forfait Maquillage Mariée + 2 maquillage invitées : 320€<br>
          Temps du maquillage le jour J : 1 heure<br>
          Temps de maquillage par Invitées : Environ 30min
          </p>
        </div>
        <div class="flex-item">
        <%= image_tag "diamond.png", class: "price-img"%>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="padded" id="team-contact">
          <a href="mailto:amelie.illouz@gmail.com" class="">
            <i class="fa fa-envelope"></i> amelie.illouz@gmail.com
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!--


MISE EN BEAUTE JOUR :40€ tarif à mon domicile et 50€ en déplacement
MAQUILLAGE SOIREE ET INVITEES MARIAGE: 65€ tarif à mon domicile et 80€ en déplacement
SHOOTING PROFESSIONNEL : TARIFS SUR DEVIS,

LE MARIAGE :

1.MAQUILLAGE COTON :
Maquillage Mariée: 110€ (sans essai)
Durée : 1Heure

2.MAQUILLAGE SAPHIR :
Maquillage Mariée avec essai :200€
Durée : 1h30 environ le jour de l'essai, 1 mois minimum avant le jour J. Géneralement le meme jour que l'essai coiffure pour un meilleur rendu !
Temps du maquillage le jour J : 1 heure

3.FORFAIT PERLE :
Forfait Maquillage Mariée + 2 maquillage invitées : 320€
soit le maquillage mariée à 190€ au lieu de 200€ et maquillage invitée à 65€

Idem pour 3 Invitées, 65€ le maquillage suplémentaire soit le forfait à 385€

4. Forfait DIAMAND :
Forfait Maquillage Mariée + 4 invitées : 430€
190€ La MARIEE et 60€ par invitée. Idem pour 5 Invitées 60€ en plus.

Temps de maquillage par Invitées : Environ 30min

MAQUILLAGE INVITÉE : 65€ et à partir de 4 invitées à 60€ par personne.


* Les essais sont inclus dans les forfaits. Pas d'essai pour les Invitées, sauf sur demande.
Les Essais se font à mon domicile sur Venelles Uniquement. Je me déplace le Jour J.


Les Invitées :

Je maquille jusqu'a 5 invitées maximum.



Laureline et Jonathan - Les préparatifs from Créa'Film on Vimeo.



Frais de Déplacement et CONDITIONS

Se rajoute au forfait les frais de deplacement au delà d'un perimetre de 15km aller retour autour de Venelles.
Ils sont calculé en fontion du nombre de kilometres aller et retour,à 0,40€ du km.

Je me deplace en sur les mariages le jour J a plus de 130km aller retour, depuis Venelles, sous conditions d'un forfait minimum avec 2 Invitées a Maquiller. Le forfait PERLE à 320€. Afin de pouvoir répondre positivement à une grande majorité d'entre vous, sur mon secteur le plus proche de mon domicile.

Le jour de l'essai, 50 % de la somme du forfait sera a régler.
Si éventuellement la prestation ne vous convenait pas, il n'y aura que la somme de l'essai a régler soit 80€.

Nous pouvons voir ensemble pour créer un forfait sur mesure, selon vos besoin et vos envies !! je reste à votre disposition.

Je mettrai tout mon savoir faire pour vous chouchouter ce fameux jour
et vous faire sentir "La Plus Belle" pendant 1heure.....

A très Bientôt !

JE PEUX VOUS CONSEILLER ET DONNER LES COORDONNERS DE PHOTOGRAPHES !!

Thibault Chappe :
Adresse : 46 Cours Mirabeau, 13100 Aix-en-Provence
Téléphone : 06 83 29 98 31
Site : thibaultchappe.fr



VOUS POUVEZ ME JOINDRE PAR TELEPHONE AU 06 49 89 06 14

mon adresse : 27 rue de l'Agnel, les Jardins de Provence Bat B, 13770 Venelles -->

