<div class="wrapper-blush">
  <div class="container text-center little-padded">
    <div class="row">
      <div class="col-xs-12">
        <h1>Pour le Plus Beau Jour de votre Vie, je vous propose de vous accompagner dans les meilleures conditions</h1>
      </div>
      <div class="col-xs-12 flex little-padded">
        <div class="flex-item">
          <h2> 1- Maquillage PERLE:</h2><br>
          <p>Maquillage Mariée avec essai :200€<br>
          Durée : 1h30 environ le jour de l'essai<br>
          Temps du maquillage le jour J : 1 heure
          </p>
        </div>
        <div class="flex-item">
          <%= image_tag "pearl.png", class: "price-img"%>
        </div>
      </div>
      <div class="col-xs-12 flex little-padded">
        <div class="flex-item">
          <h2> 2- Maquillage OR :</h2><br>
          <p>Maquillage Mariée: 110€ (sans essai)<br>
          Temps du maquillage le jour J : 1 heure
          </p>
        </div>
        <div class="flex-item">
          <%= image_tag "gold.png", class: "price-img"%>
        </div>
      </div>
      <div class="col-xs-12 flex little-padded">
        <div class="flex-item">
          <h2> 3- Maquillage DIAMAND :</h2><br>
          <p>Forfait Maquillage Mariée + 2 maquillage invitées : 320€<br>
          Temps du maquillage le jour J : 1 heure<br>
          Temps de maquillage par Invitées : Environ 30min
          </p>
        </div>
        <div class="flex-item">
        <%= image_tag "diamond.png", class: "price-img"%>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="little-padded" id="team-contact">
          <a href="mailto:amelie.illouz@gmail.com?subject=Prise%20de%20rendez-vous" class="navbar-wagon-item navbar-wagon-button btn">Me contacter
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
