<div class="wrapper-pink">
  <div class="container">
    <h1 class="text-center bottom-padding">Passionnée par la beauté<span class="heart"><i class="fa fa-heart"></i></span>, je n'accepte que des modèles de qualités. Après des études à l'EMLYON, puis 7 ans en tant que chef de produit chez Lindt, j'ai décidé de tout lacher afin de ne maquiller que la crème de la crème.
    <br><br>N'hésitez pas à me contacter.
    <br><i class="fa fa-phone"></i> +33 6 18 81 76 32
    </h1>
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center">
        <%= image_tag('team-background.png', :class => "big-card" )  %>
        </div>
      </div>
    </div>
  </div>
</div>

