<div class="wrapper-pink">
  <div class="container text-center padded">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <h1>Qui suis-je ?</h1>
        <h2></h2>

        <div class="padded" id="team-contact">
          <a href="mailto:amelie.illouz@gmail.com" class="">
            <i class="fa fa-envelope"></i> amelie.illouz@gmail.com
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
