<div class="container text-center padded">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1>Our Team</h1>
        <ul class="list-inline text-center">
          <% ["luc", "gildas", "abel"].each do |member| %>
            <li>
              <h3><%= member.capitalize %></h3>
              <%= image_tag "#{member}.png", class: "avatar-extra-large" %>
            </li>
          <% end %>
        </ul>
      <div class="padded" id="team-contact">
        <a href="mailto:contact@airbnb.com">
          <i class="fa fa-envelope"></i> contact@airbnb.com
        </a>
      </div>
    </div>
  </div>
</div>
